@import "./abstract/mixin";
@import "./abstract/variable";

@import "./base/animation";
@import "./base/base";
@import "./base/typography";

@import "./components/sidebar1";
@import "./components/involve";
@import "./components/direction";
@import "./components/most";
@import "./components/spinner";
@import "./components/mapbox";
@import "./components/staticDirection";
@import "./components/popup-map";
@import "./components/menu";
@import "./components/marker";


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    @include respond(tab-land) { // width < 1200?
        //1 rem = 9px, 9/16 = 50%
        
    }

    @include respond(tab-port) { // width < 900?
            //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        display:none; //1rem = 12, 12/16
    }
}
