.container-direction{
    .most {
        height:0px;
        overflow:hidden;
        transition:all .3s;
    }
    .direction {
        background-color:#8181F7;
        font-size:3rem;
        padding:2rem 3rem;
        color:white;
        &__icon {
            display: flex;
            flex-direction: row;
            
            &-menu {
                margin-right:2rem;
                cursor:pointer;
            }
            &-direction {
            }
            &-close{
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
        &__input {
            position: relative;
            input {
                color:white;
                border: none;
                border-bottom:1px solid white;
                background-color:transparent;
                width:30rem;
                margin-bottom:1.5rem;
                &::placeholder{
                    color:white;
                }
                &:focus {
                    outline:none;
                }
                @include respond(tab-port) {
                    width:70rem;
                }
                @include respond(phone) {
                    width:30rem;
                }
            }
            &-convert {
                position: absolute;
                top:4rem;
                right:0;
                
                cursor: pointer;
            }
            &-start{
                .icon {
                    font-size:1.3rem;
                    font-weight: 800;
                    margin-right:3rem;
                }
                input {
                }
            }
            &-end{
                .icon {
                    font-size:1.7rem;
                    font-weight: 800;
                    margin-right:3rem;
                }
                input {
                    
                }
            }
        }
    }
} 