.mapWrapper {
  width: 100vw;
  height: 100vh;
}
.mapboxgl-ctrl-top-right {
  display: flex;
  .mapboxgl-ctrl-directions {
    display: none;
    transition: all 0.3s;
  }
  .mapboxgl-ctrl-group {
    display: block;
    transform: translate(0.2, 0.8rem);
    width: 4rem;
    height: 4rem;
    .mapboxgl-ctrl-geolocate {
      width: 4rem;
      height: 4rem;
      @include respond(tab-port) {
        width: 5rem;
        height: 5rem;
      }
    }
    @include respond(tab-port) {
      // width < 900?
      width: 5rem;
      height: 5rem;
      transform: translate(-2rem, 40rem);
    }
  }
}
.mapboxgl-popup-anchor-bottom {
  background-color: transparent !important;
}
