.marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#2E9AFE;
    &:hover {
        color:#FA5858;
    }
    i {
        color:inherit;
        
        font-size:2.5rem;
        transition:all .2s;
        //animation: click .5s infinite;

    }
    p {
        
        font-size:0.9rem;
        color:black;
    }
}
@keyframes click { 
    from {
        transform:translateY(0);
    }
    to {
        transform:translateY(-2px);
    }
}